@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
  /* default primarycolor == #ff7200 */
  /* haeir theme = #064c8f */
  --primary-color: var(--set-primary-color, #ff7200);
  --background-color: var(--set-background-color, #ffffff);
  --text-color: var(--set-text-color, #000000);
  --darkVoilet-color : #120537;
  --lightVoilet-color : #3b1561;
  --darkPink-color : #6e1e8a;
  --lightPink-color :#a920af;
  --pink-color :#eb12cf;
  --green-color: #228b22;
  --white-color: #ffffff;
  --gray-color: #aaabaf;
  --dark-gray-color: #727377;
  --red-color: #FF0101;

  /* SCSS Gradient */


  /* input-field */
  --input-border-color: var(--set-input-border-color, #D9D9D9);
  --input-border-hover-color: var(--set-input-border-color, #aaabaf);
  --input-border-onfocus-color: "";
  --input-placeholder-color: #000000;
  --input-bg-color: "";
  --input-dropdown-hover-bg-color: "";
  --input-dropdown-selected-bg-color: "";
}






body {
  margin: 0;
  font-family:  'Caveat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
