.login-container {
    width: inherit;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right top, #120537, #3b1561, #6e1e8a, #a920af, #eb12cf);
    // opacity: 0.95;
    
    backdrop-filter: blur(10px);
   
    overflow-y: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.login-header-container {
    width: fit-content;
    // border: 1px solid red;
    .login-header-content-logo-container {
        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 50px;
            font-weight: 700;
            color: #ffffff;
            line-height: 10px;
        }
        h3 {
            font-family: 'Poppins', sans-serif;
            font-size: 40px;
            font-weight: 700;
            color: #ffffff;
            line-height: 10px;
        }
    }
}

.login-form-container{
    // border: 1px solid red;
    width: 380px;
    height: 550px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    display: flex;
    align-items: end;
}

.login-form{
    // border: 1px solid gold;
    width: 100%;
    height: 70%;
    background: rgba(255, 255, 255, 0.255);
    backdrop-filter: blur(40px);
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 5;

    .login-top-image-container{
        // border: 1px solid rgba(255, 255, 255, 0.2);
        height: 120px;
        width: calc(100% - 40px);
        position: absolute;
        top: -120px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        img{
            width: 150px;
            height: 150px;
        }

    }

    .connect-text{
        width: 100%;
        display: flex;
        justify-content: center;
        line-height: 10px;
    }

    .social-media-logo{
        width: 100%;
        display: flex;
        justify-content: center;
        line-height: 10px;
    }
}

