.message-container{
    width: calc(100% - 150px);
    height: calc(100vh - 150px);
    background-color: var(--lightVoilet-color);
    background-color: var(--lightVoilet-color);
    border-radius: 20px;
}